# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Entornos virtuales
.venv/
venv/
env/

# Configuración local / secretos
.env
.env.local

# Herramientas
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDE
.idea/
.vscode/
